#container {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 300px;
}

.box {
  width: 600px;
  margin: 5px;
  text-align: center;
  background: #e1e2e1;
  border-radius: 2px;
  margin-top: 300px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.logo {
  width: 200px;
  position: absolute;
  top:50px;
  left:50px;
}

/* THE CSS FOR THE VIEWER */

.viewBox {
  min-width: 500px;
  margin: 50px;
  min-height: 100px;
  background: white;
}

img.equation {
  height: 50px;
  display: block;
  margin: 0 105px;
  margin-top: 25px;
}

/* THE CSS FOR THE INPUT */

.inputBox {
  margin: 50px;
  margin-top: 0px;
  min-width: 500px;
  height: 100px;
  background: white;
}

.inputScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#entryBox {
  padding: 10px;
}

.goButton {
  color:white;
  width: 100px;
  margin: 15px;
  padding: 10px;
  background: #03a9f4;
  margin-left: 73%;
  border-radius: 3px;
}

.goButton:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
}


/* Dynamic Stuff */

#equationDiv {
  margin-top: 1em;
  padding: 1em;
  background-color: #E3CBAC;
  position: relative;
  height: 50px;
}

.controlButton {
  padding: 5px;
  width: 77px;
  background: #03a9f4;
  margin: 10px;
  color: wheat;
  cursor: pointer;
}

div#controls {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.toolbar{
  background: #03a9f4;
  color: white;
  border-radius: 2px;
  display: flex;
}

/* CSS for the blue toolbar at the top of the UI */

.toolbar p {
    width: 250px;
    font-family: arial;
    font-size: 14px;
}

img.backButton {
    width: 30px;
    margin: 5px;
    margin-top: 6px;
    margin-left: 10px;
    fill: white;
}

.backButton:hover {
    opacity: .8;
    cursor: pointer;
}

.floatButton:hover {
    opacity: .6;
    cursor: pointer;
}

.exportButton {
      opacity: 0.9;
    margin-left: auto;
    margin-right: 10px;
    width: 25px;
    margin: 5px;
    margin-top: 9px;
}

.floatButton {
    position: absolute;
    top: 0;
    right: 10px;
}

/* CSS for the tree manipulation Buttons */

.row1, .row2 {
    display: flex;
    justify-content: center;
}

.row1{
  margin-top: 5px;
}

.treeButton {
    background: #b7b7b7;
    width: 50px;
    height: 25px;
    margin: 3px;
}

.treeButton:hover {
    background: #939393;
    cursor: pointer;
}

.inactive {
    opacity: .3;
    pointer-events: none;
}

.treeExpand {
  padding-top: 6px;
  width: 45px;
}

.expando {
  width: 65px;
}

/* Hover Animation */

@-ms-keyframes wiggle{0%{-ms-transform:rotate(1deg);}50%{-ms-transform:rotate(-1deg);}100%{-ms-transform:rotate(1deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(1deg);}50%{-moz-transform:rotate(-1deg);}100%{-moz-transform:rotate(1deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(1deg);}50%{-webkit-transform:rotate(-1deg);}100%{-webkit-transform:rotate(1deg);}}
@keyframes wiggle{0%{transform:rotate(1deg);}50%{transform:rotate(-1deg);}100%{transform:rotate(1deg);}}

.logo:hover {
  -ms-animation:wiggle .3s 2;
  -moz-animation:wiggle .3s 2;
  -webkit-animation:wiggle .3s 2;
  animation:wiggle .3s 2;
  cursor: pointer;
}
