<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href= "{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='css/mathquill.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://underscorejs.org/underscore-min.js"></script>
  <script src="{{ url_for('static',filename='js/mathquill.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] },
      TeX: { extensions: ["amsmath.js", "color.js"] }
    });
  </script>
</head>
<body bgcolor="#edf0f2">
  <script type="text/javascript">
    // initialize view state with server data
    window.INIT_STATE = {{ state | tojson }};
  </script>

  <script src="{{ url_for('static',filename='js/view.js') }}"></script>

  <div id="container"><!-- flex container -->
    <img src="{{ url_for('static',filename='img/logo.svg') }}" class="logo"/>
    <div class="box" id="bluebox"><!-- flex item -->

      <div class="inputScreen">

        <div class = "toolbar">
          <div class = "toolButton backButton" onclick="location.href = '.';">
            <img src="{{ url_for('static',filename='img/back_button.svg') }}" class="backButton"/>
          </div>

          <p>Equation Tools:</p>

        </div>

        <div id="equationDiv">
          <div id="equation" style="display: none;"></div>
          <div class = "floatButton" onclick="VIEW.exportLatex()">
            <img src="{{ url_for('static',filename='img/export_latex.svg') }}" class="exportButton"/>
          </div>
        </div>

        <!-- Buttons for moving around the equation tree -->
        <div id="tree_controls">
          <div class = "row1">
            <div id = "up" class="treeButton inactive">
              <img src="{{ url_for('static',filename='img/up_arrow.svg') }}" class="treeArrow"/>
            </div>
          </div>
          <div class = "row2">
            <div id = "left" class="treeButton inactive">
              <img src="{{ url_for('static',filename='img/left_arrow.svg') }}" class="treeArrow"/>
            </div>
            <div id = "down" class="treeButton inactive">
              <img src="{{ url_for('static',filename='img/down_arrow.svg') }}" class="treeArrow"/>
            </div>
            <div id = "right" class="treeButton inactive">
              <img src="{{ url_for('static',filename='img/right_arrow.svg') }}" class="treeArrow"/>
            </div>
          </div>
        </div>

        <!-- Buttons for equation manipulation -->
        <div id="controls" style="display: none;">
          <div class="controlButton">divide</div>
          <div class="controlButton">factor</div>
          <div class="controlButton">multiply</div>
        </div>

      </div>

    </div>
  </div>
</body>
</html>
