<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href= "{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='css/mathquill.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://underscorejs.org/underscore-min.js"></script>
  <script src="{{ url_for('static',filename='js/mathquill.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] } });
  </script>
</head>
<body bgcolor="#edf0f2">
  <script type="text/javascript">
    // initialize model with server data
    window.INIT_MODEL = {{data | tojson}};
  </script>

  <script src="{{ url_for('static',filename='js/view.js') }}"></script>

  <div id="container"><!-- flex container -->
    <img src="{{ url_for('static',filename='img/logo.svg') }}" class="logo"/>
    <div class="box" id="bluebox"><!-- flex item -->

      <div class="inputScreen">

        <div class = "toolbar">
          <p>Equation Tools:</p>
        </div>

        <div id="equationDiv">
          <div id="equation" style="display: none;"></div>
        </div>

        <div id="controls" style="display: none;">
          <div class="controlButton">divide</div>
          <div class="controlButton">factor</div>
          <div class="controlButton">multiply</div>
        </div>
        <!-- <span id="problem">ax^2 + bx + c = 0</span> -->
      </div>

    </div>
  </div>
</body>
</html>
